@import url('../styles/var.css');
@media screen and (min-width: 400px) {
  body {
    background-color: lightgreen;
  }
}

@media screen and (min-width: 800px) {
  body {
    background-color: lavender;
  }
}
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.lightbox-content {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: var(--lightboxBg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  z-index: 1000;
}
.lightbox-content-img img{
  
  height: 75vh;
  max-width: 75vw;
  flex-wrap: wrap;
  
}
.lightbox-image {
/* max-height: 100vw;;
 max-width: 100vh;
  */
}

.close {
  position: absolute;
  top: 10px;
  float: right;
  right: 1px;;
  text-align: center;
  width: 2em;
  height: 2em;
  font-size: 30px;
  color: var(--textprimary);
  cursor: pointer;
  border-radius: 50%;
}
.close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
 background-color: var(--inputbg);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  
}
.prev {
  left: 0;
  
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5);
 
}
