@import url('../styles/var.css');

:root{
  --radius: 1em;
  --boxShadow: 0.3em;
}


.gallery {
  display: flex;
  flex-wrap:wrap;
  gap: 1em;
  margin: 1em;
  justify-content:center;
}

.gallery-photo {
  width: 19em;
  height: 15em; 
  object-fit: cover;
  cursor: pointer;
  border-radius: var(--radius) var(--radius) 0 0 ;
  
}
.basic-card-body{
  font-size: 1em;
  text-align: left;
  margin-left: 0.8em;
  background-color: var(--inputbg);
  border-radius: var(--radius);
  
}

.card{
  box-shadow:  0 2px  5px var(--shadowColor);
  border-radius: var(--radius);
  color: var(--text-primary);
  background-color: var(--inputbg);

}
.card:hover {
  transform: scale(1.02);
  transition: 0.5s;
}
.form-check .form-check-input {
  float: right;
}

.icon{
  width: 10px;
  height: 10px;
  margin-bottom: 1px;
  margin-top: 1px;
}
.basic-card-body span{
  margin-left: 3px;
 
}
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}