.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .gallery-photo {
    width: 19em;
    height: 15em;
    object-fit: cover;
    cursor: pointer;
    
  }
  .basic-card-body{
    font-size: 1em;
    text-align: left;
    margin-left: 3px;
    
  }
  .form-check .form-check-input {
    float: right;
  font-size: 1.5em;
  margin: -2em  -2em 0 0 ;
  }
  .icon{
    width: 10px;
    height: 10px;
    margin-bottom: 1px;
    margin-top: 1px;
  }
  .basic-card-body span{
    margin-left: 3px;
   
  }
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .pagination button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }