@import url('../styles/var.css');

  .search{
    display: flex;
    align-items: left;
    /* background-color: var(--background); */
  float: left;
}
.search img{
max-width: 3em;
margin-left: 0.2em;
border-color: var(--inputbg);
background-color: var(--inputbg);

}
.search img:hover{
    background-color: var(--inputbg);
    }
    
.search input{
    background-color: var(--inputbg);
    border-color:  var(--inputbg);;
    color: var(--text-primary);
    
}
.search input::placeholder {
  color: var(--text-primary);
  opacity: 1; /* Firefox */
  border-color:  var(--inputbg);;
  
}
.search input:focus{
    background-color: var(--inputbg);
    color: var(--text-primary);
 
}   

.search input:focus::placeholder {
 opacity: 0;
  
}   